@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$font-primary: "Poppins", sans-serif;

$borders: "supervisor" hsl(180, 62%, 55%), "team-builder" hsl(0, 78%, 62%),
  "karma" hsl(34, 97%, 64%), "calculator" hsl(212, 86%, 64%);

// NEUTRAL
$dark-blue: hsl(234, 12%, 34%);
$gray-blue: hsl(229, 6%, 66%);
$light-gray: hsl(0, 0%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  overflow-y: scroll;
  font-family: $font-primary;
}

main {
  max-width: 375px;
  padding: 5.1rem 1.9rem 2rem;

  h1 {
    font-size: 1.55rem;
    text-align: center;
    color: $gray-blue;
    font-weight: 200;
    margin-bottom: 1.3rem;

    span {
      display: block;
      color: $dark-blue;
      font-weight: 600;
    }
  }

  p {
    font-size: 15.5px;
    color: $gray-blue;
    text-align: center;
    margin-bottom: 5rem;
  }

  section {
    @each $card, $border in $borders {
      .card {
        padding: 1.5rem 1.6rem 1.5rem 1.7rem;
        box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 1.4rem;

        h2 {
          font-size: 1.3rem;
          margin-bottom: 0.1rem;
        }

        p {
          font-size: 13.5px;
          line-height: 24px;
          color: $gray-blue;
          margin-bottom: 1.9rem;
          text-align: left;
        }

        .image-wrapper {
          width: 58px;
          margin-left: auto;
          margin-bottom: 0.5rem;

          img {
            width: 100%;
            display: block;
          }
        }
      }

      .card-#{$card} {
        border-top: 4px solid $border;
      }
    }
  }
}
